<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up</title>
    <link rel="stylesheet" href="goodstyles.css">
</head>
<body>
    <h1>Create Account</h1>
    
    <form method="POST">
        {{form.hidden_tag()}}

        <div>
            {{form.username.label()}}
            {{form.username()}}
            
            {% for error in form.username.errors%}
                <p style = "color: red;">{{error}}</p>
            {%endfor%}
        </div>
        <div>
            {{form.password.label()}}
            {{form.password()}}

            {%for error in form.password.errors%}
                <p style = "color: red;">{{error}}</p>
            {%endfor%}
        </div>
        <div>
            {{form.confirm_password.label()}}
            {{form.confirm_password()}}

            {%for error in form.confirm_password.errors%}
                <p style = "color: red;">{{error}}</p>
            {%endfor%}
        </div>
        {{form.submit()}}
    </form>
</body>
</html>